.App {
  text-align: center;
}

<<<<<<< HEAD
ul {
  list-style-type: none;
}
=======
.card-container{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 60%;
  margin:5% auto;
  border-radius: 5px;
  padding:5%;
}
>>>>>>> a47012b518816f3118e55848f1b11ad297c67921
