/*Variables*/
/*Fin variables*/
/*Maxins funciones*/
/*Fin funciones*/
h1 {
  color: #075207;
}
p {
  color: #0613cf;
  padding: 20px;
}
h2 {
  color: #afaeaeb7;
}
.container .articulos {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.col {
  background-color: #cec8c8;
  width: 500px;
  height: 450px;
  padding: 30px 20px;
  border-radius: 10px;
}
#banner {
  width: 600px;
  height: 450px;
  padding: 30px 20px;
}
.articulo {
  margin-right: 13px;
}
