@import "./_variables.scss";
.App{
    background-color: $body;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: calc(10px + 2vmin);
    color: $primary-color;
    text-align: center;
    }
h2{
    color:$titulo;
    }
