*{
     margin: 0;
     padding: 0;
}
.contenedor{
     width: 970px;
     height:970px;
     background-color:white;
     padding:30px;
     
}
.logo{
     background-color: white;
     display: flex;
     align-items: center;
     height:60px;
}
.logo img{
     width:80px;
     height:80px;     
}
hr{
     margin: 5px 5px;
}
.azul{
     color:#2969A0;
}
.logo p{
     padding-top:60px;     
}
.logo #azul-oscuro{
     color:#032947;
}
.logo span{
    font-size: 40px;    
    font-family: 'Open Sans', sans-serif;     
}
.internet{
     padding-top:20px;
}
.internet span{
     font-weight: 800;
}
.contenedor #titulo{
     font-weight: 800;
}
.contenedor #titulo{
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size:30px;
     background:linear-gradient(#2969A0,rgb(88, 127, 177),#2969A0);
     display:block;
     padding:10px;
}
main{
     display:flex;
     background-image: linear-gradient(#e4e4e4 0%,#ffffff 15%);

}
.aside{
     width:100%;
     height: 500px;
     margin-right: 20px;
     margin-top: 20px;
}
.aside p{
     font-weight: 600;
     font-family:Arial, Helvetica, sans-serif;
     font-size: 13px;
}
.importante{
     color:red
}

.big{
     display:flex;
     border: 5px solid #0085E0;   
}
.big img{
     width:80px;
     height:80px;
}
.encabezado{     
     display:flex;
     width:775px;
    justify-content: space-between;
    
}
.home{
     display:flex;
     
}
.home img{
     width:30px;
     height:30px;
     margin-top: 10px;
}
.home p{
     color: #22659e;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 700;
     margin-top: 20px;
     
}
.contacto{
     width:300px;
     text-align: center;
}
.contacto img{
     vertical-align: middle;
     width:50px;
     height:50px;
}
.contacto p{
     font-size: 11px;
}
#server{
     width:40%;
     margin-left:200px;
     background-color:aquamarine;
}
.html{
     margin-top: 20px;
     border:5px solid #0b7de7;
     display:flex;
     flex-direction: row;
     padding-bottom: 20px;
}
.happens{
     margin-left: 20px;
     padding-top: 10px;;
}
.html img{
     width:100px;
     height:100px;
     margin-left: 20px;
     padding-top: 10px;
}
span.link{
     color:#07ADD8;
     font-weight:700;
}
.contacto .fono{
     font-size: 20px;
     color:#07ADD8;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     vertical-align: middle;
     font-weight: bold;
}
h3{
     color:#22659e;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 15px;
}
.aside a{
     justify-content: center;
     text-decoration:none;
     color:white;
     text-align: center;
     padding: 5px, 3px;
     margin: auto;
}
.bt_azul{
     background-image: linear-gradient(to bottom , #5d93c0, #5890bd);
     border: none;
     color: white;
     padding: 10px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
     margin-top: 20px;
     margin-left: 20px;
     cursor: pointer;
     border-radius: 5px;
     box-shadow: 2px 2px #8e8e8e;
}
.bt_naranjo{
     background-image: linear-gradient(to bottom, #eca94e, #ef7a00 );
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px #8e8e8e;
}
ul{
     margin-left: 40px;
}
ol{
     margin-left: 40px;
}
.content{
     font-weight:700;
}
.sidebar-bottom{
     background-image: url(../img/ad_background.png);
     height: 350px;
     color:white;
     text-align: center;
     font-family:Arial, Helvetica, sans-serif;
     
}
.sidebar-bottom p{
     font-size: 30px;
     font-weight: 200;
     
}

.sidebar-bottom img{
     width:80px;
     
}
.bottom-img{

         background-image: linear-gradient(#72cfdf,#00c3df);
         border: none;
         color: white;
         padding: 10px 24px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 14px;
         margin-top: 5px;
         margin-left: 10px;
         margin-right: 10px;
         cursor: pointer;
         border-radius: 5px;
         box-shadow: 2px 2px #8e8e8e;
}