@import 'bootstrap/dist/css/bootstrap.min.css';


.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todoFormContainer {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 60%;
  margin-top: 5%;
  padding: 5%;
}

.todoListContainer {
  display: flex;
  justify-content: center;
  .table-container {
    margin: 5%;
  }
}