*{
     margin:0px;
     padding:0px;
     box-shadow: none;
}
.container{
     text-align:center;
     background-color:#d4d1af;
     width:550px;
     padding:20px;
     
}
.header .first{
     display:flex;
     text-align:center;
}
.header img{
     width:90px;
     height: 50px;
     background-color:#FFF;
     display: inline;

}
h2{
     display: inline-block;
}

div .impar, .par{
     display:inline-block;
}
.par img{
     background-color:#F36770;
     width:80px;
     height:80px;
     padding:8px;
     display:block;
     border:3px solid #000;
     margin-bottom:5px;
}
.impar img{
     background-color: #83B4EC;
     width:80px;
     height:80px;
     padding:8px;
     display:block;
     border:3px solid #000;
     margin-bottom:5px;
     
}