.card-container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 5% auto;
  padding:10px 80px 15px 80px;
  width:50%;
}

.danger{
  color:#970505;
  font-weight: 700;
}